{% load static %}

<nav class="bg-black py-6 px-18 flex justify-between items-center border-b-1 border-white/30">
    <div class="text-3xl font-bold">
        Beacon
    </div>
    {% if user.is_authenticated %}
        <div class="flex items-center space-x-10">
            <div class="flex items-center space-x-8">
                <a href="{% url 'dashboard' %}">Discover</a>
            </div>
            
            <div class="dropdown dropdown-end">
                <img class="cursor-pointer" tabindex="0" role="button" src="{{ user.userprofile.avatar_url }}" alt="Avatar" width="40" style="border-radius: 50%;">
                <ul tabindex="0" class="dropdown-content menu bg-black outline outline-white/30 rounded-box z-1 w-52 p-2 shadow-sm">
                    <p>{{ user.username }}</p>
                    <li class="hover:bg-white/20"><a>Profile</a></li>
                    <li class="hover:bg-red-300/80"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    {% else %}
    <div>
        <button class="btn btn-info flex items-center justify-center" onclick="my_modal_2.showModal()">
            <img src="{% static 'core/images/github.svg' %}" alt="">
            <p>Continue with GitHub</p>
        </button>
        <dialog id="my_modal_2" class="modal">
            <div class="modal-box bg-black outline outline-white/50">
                <h3 class="text-lg font-bold text-center text-white/80">Authenticate with Github to get started</h3>
                <a class="flex justify-center" href="{% url 'social:begin' 'github' %}">
                    <button class="btn btn-info flex items-center justify-center">
                        <img src="{% static 'core/images/github.svg' %}" alt="">
                        <p>Authenticate</p>
                    </button>
                </a>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
    {% endif %}
</nav>